:root {
    --text-color: #303030;
    --text-color-light: #FFFFFF;
    --background-color: #828282;
    --background-color-dark: #3b6540;
    --background-color-yellow: #FFDD81;
    --background-color-light: #47787a;
    --border-color: #D5D5D5;
    --border-color-dark: #303030;
    --font-heading: 'Playfair Display', serif;
    --font-body: 'Work Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-body);
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}