:root {
    --text-color: #252525;
    --text-color-light: #FFFFFF;
    --background-color: #828282;
    --background-color-dark: #457D61;
    --background-color-yellow: #FFDD81;
    --background-color-light: #FFFFFF;
    --border-color: #D5D5D5;
    --border-color-dark: #303030;
    --font-heading: 'Playfair Display', serif;
    --font-body: 'Work Sans', sans-serif;
    --font-Times: Times;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-Times);
    background-color: var(--background-color-light);
    color: var(--text-color);
    line-height: 1.6;
}

.conteiner {
    padding: 6%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5%;
}

.alt {
    display: flex;
    gap: 3rem;
}

h2 {
    font-size: 64px;
    padding-bottom: 1rem;
    line-height: 1.4;
}

p {
    font-size: 24px;
    line-height: 1.3;
    padding-bottom: 2rem;
}

.section {
    margin: auto;
}

.center {
    text-align: center;
}

.curved-text {
  display: inline-block;
  font-size: 24px;
  transform: perspective(100px) rotateX(15deg);
  transform-origin: 50% 100%;
  text-align: center;
  margin: 20px 0;
}

.explore-btn {
    background-color: var(--background-color-dark);
    color: var(--text-color-light);
    padding: 20px 50px;
    border-radius: 36px;
    border: none;
    text-decoration: none;
    font-size: 16px;
}

.izq, .der {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.izq {
    padding-top: 3rem;
}

.der {
    display: flex;
    flex-direction: row;
    gap: 15px;
    position: relative; /* Contenedor relativo para posicionar la estrella */
    padding-bottom: 5rem;
}

.der img:last-child { /* Selecciona Star2.svg */
    position: absolute;
    bottom: 10px; /* Ajusta según sea necesario */
    left: 0; /* Alinea con el inicio de 3.png */
}

.izq img:first-child {
    transform: translateY(30px);
}

.izq img:last-child {
    transform: translateY(-30px);
}

.der img:first-child {
    transform: translateY(-30px);
}

.der img:nth-child(2) {
    transform: translateY(30px);
}