:root {
    --text-color: #252525;
    --text-color-light: #FFFFFF;
    --background-color: #FFFFFF;
    --background-color-dark: #000000;
    --border-color: #D5D5D5;
    --border-color-dark: #000000;
    --font-heading: 'Playfair Display', serif;
    --font-body: 'Work Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-body);
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}

.container {
    padding: 4%;
    padding-top: 7%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.text {
    color: var(--text-color);
}

.text h1 {
    font-size: 72px;
    line-height: 6rem;
}

.text p {
    margin-top: 2.5rem;
    font-size: 26px;
    line-height: normal;
    opacity: 0.8;
}

.explore-button {
    margin-top: 2.4rem;
    background-color: var(--background-color-dark);
    color: var(--text-color-light);
    border: none;
    border-radius: 36px;
    padding: 18px 40px;
    cursor: pointer;
    transition: 0.3s;
}

.explore-button:hover {
    opacity: 0.85;
}

.cuadro {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 4%;
    background-color: var(--background-color-dark);
    border: none;
    color: var(--text-color-light);
}

.card img {
    opacity: 0.7;
}