:root {
    --text-color: #252525;
    --text-color-light: #FFFFFF;
    --background-color: #FFFFFF;
    --background-color-dark: #252525;
    --background-color-brow: #363032;
    --background-color-brow-light: #A36A4F;
    --background-color-light: #F2F2F2;
    --background-color-suave: #ECDAC4;
    --border-color: #D5D5D5;
    --border-color-dark: #303030;
    --font-heading: 'Playfair Display', serif;
    --font-body: 'Work Sans', sans-serif;
    --font-Times: 'Times New Roman', italic;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-body);
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}