:root {
    --text-color: #333333;
    --text-color-light: #FFFFFF;
    --background-color: #FDFEFF;
    --background-color-dark: #111111;
    --background-color-light: #F2F2F2;
    --background-color-suave: #ECDAC4;
    --background-color-red: #F1C2B0;
    --background-color-yellow: #F9EB98;
    --background-color-green: #C0D9DD;
    --background-color-blue: #6975E8;
    --border-color: #D5D5D5;
    --border-color-dark: #100201;
    --font-heading: 'Playfair Display', serif;
    --font-body: 'Work Sans', sans-serif;
    --font-Times: 'Times New Roman', italic;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-body);
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteiner {
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10%;
}

.top {
    margin-top: 3rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: row;
    gap: 10rem;
}

.top {
    margin-left: 3rem;
}

.text {
    padding-right: 3rem;
}

.text h1 {
    font-size: 60px;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.text p {
    font-size: 24px;
    margin-bottom: 2rem;
}

.explore-btn {
    background-color: var(--background-color-dark);
    color: var(--text-color-light);
    padding: 18px 50px;
    border: none;
    border-radius: 36px;
    font-size: 24px;
    margin-bottom: 5rem;
}

.imagen {
    position: relative;
    display: inline-block;
    width: 627px;
    height: 410px;
}

.imagen img {
    width: 24px;
    height: 24px;
}

.top img:nth-child(3) {
    width: 100%; /* Cambia este valor al tamaño que necesites */
    height: 100%; /* Mantiene la proporción de la imagen */
}

.top img:nth-child(6) {
    width: 62px; /* Cambia este valor al tamaño que necesites */
    height: 62px; /* Mantiene la proporción de la imagen */
}

.corner-image1 {
    position: absolute;
    width: 100px; /* Ajusta el tamaño según necesites */
    height: auto;
    top: -10px; /* Ajusta para posicionar verticalmente */
    left: -10px; /* Ajusta para posicionar horizontalmente */
}

.corner-image2 {
    position: absolute;
    width: 100px; /* Ajusta el tamaño según necesites */
    height: auto;
    top: -10px; /* Ajusta para posicionar verticalmente */
    right: -10px; /* Ajusta para posicionar horizontalmente */
}

.corner-image3 {
    position: absolute;
    width: 100px; /* Ajusta el tamaño según necesites */
    height: auto;
    bottom: -10px; /* Ajusta para posicionar verticalmente */
    left: -10px; /* Ajusta para posicionar horizontalmente */
}

.corner-image4 {
    position: absolute;
    width: 100px; /* Ajusta el tamaño según necesites */
    height: auto;
    bottom: -10px; /* Ajusta para posicionar verticalmente */
    right: -10px; /* Ajusta para posicionar horizontalmente */
}

.corner-image5 {
    position: absolute;
    width: 100px; /* Ajusta el tamaño según necesites */
    height: auto;
    bottom: -40px; /* Ajusta para posicionar verticalmente */
    right: 50px; /* Ajusta para posicionar horizontalmente */
}

.list {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.list h3 {
    font-size: 32px;
}
.list p {
    font-size: 18px;
}

.card {
    padding: 1.5rem;
    border-radius: 16px;
    width: 309px;
    height: 300px;
}

.color1 {
    background-color: var(--background-color-red);
}
.color2 {
    background-color: var(--background-color-yellow);
}
.color3 {
    background-color: var(--background-color-green);
}
.color4 {
    background-color: var(--background-color-blue);
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title h2 {
    font-size: 64px;
    color: var(--text-color-light);
}

.title img {
    margin-bottom: 2rem;
}