:root {
    --text-color: #252525;
    --text-color-gray1: #252525b4;
    --text-color-gray2: #2525258b;
    --text-color-light: #FFFFFF;
    --background-color: #FFFFFF;
    --background-color-dark: #06040A;
    --background-color-light: #767676;
    --font-heading: 'Playfair Display', serif;
    --font-body: 'Work Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-body);
    background-image: url('src/src6/img/Frame1/Fondo.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: var(--text-color);
    line-height: 1.6;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.text-content {
    padding: 10%;
}

.text-content h1 {
    font-size: 65px;
    line-height: 5.5rem;
}

.text-content p {
    margin-top: 15px;
}

.text-content button {
    margin-top: 20px;
}

.explore-btn {
    background-color: var(--background-color-dark);
    color: var(--text-color-light);
    padding: 15px 30px;
    border: none;
    font-size: 1rem;
    border-radius: 40px;
    cursor: pointer;
    transition: 0.3s;
}

.explore-btn:hover {
    background-color: var(--background-color-light);
    color: var(--text-color);
}