:root {
    --text-color: #252525;
    --text-color-gray1: #252525b4;
    --text-color-gray2: #2525258b;
    --text-color-light: #FFFFFF;
    --background-color: #ffffff;
    --background-color-dark: #252525;
    --font-heading: 'Playfair Display', serif;
    --font-body: 'Work Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-body);
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}

.container {
    padding: 4%;
}

.text-content h1 {
    color: var(--text-color);
    font-size: 88px;
    line-height: 6rem;
    margin-top: 25px;
    font-size: 74px;
}

.tables {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 5rem;
    gap: 4rem;
}

.card {
    display: flex;
    flex-direction: column;
}

h2 {
    color: var(--text-color-gray2);
    font-size: 30px;
    padding-bottom: 0.5rem;
}

p {
    color: var(--text-color-gray1);
    font-size: 25px;
    padding-bottom: 1.5rem;
}

img {
    width: 400px;
    height: 335px;
}